---
http_interactions:
- request:
    method: get
    uri: https://api.buckybox.com/v1/boxes/217?embed=extras,images,box_items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<API-Key>"
      Api-Secret:
      - "<API-Secret>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3700ae9295ab1e6ad673d0dfe473f0a0"'
    body:
      encoding: UTF-8
      string: '{"id":217,"name":"5kg Box","description":"Our delicious brekky box
        is chocked full of tasty treats for the weekend! <a href=\"http://www.johnsfarm.com\"
        target=\"_blank\">From John''s farm</a>\r\n\r\nIncluded:\r\nBacon, English
        Muffins, Organic Free Range Eggs x6, Orange Juice, Milk & Coffee.","extras_limit":-1,"exclusions_limit":3,"dislikes":true,"substitutions_limit":2,"likes":true,"customizable":true,"extras_allowed":true,"extras_unlimited":true,"exclusions_unlimited":false,"substitutions_unlimited":false,"price":"30.00","updated_at":1466419390,"cache_key":"61a75c10ce6428d8f51cf7e40ee72738888e3f7b4c8d5cd588a70a61e92ad4b5"}'
  recorded_at: Thu, 11 Aug 2016 11:17:09 GMT
recorded_with: VCR 3.0.3
