---
http_interactions:
- request:
    method: get
    uri: https://api.buckybox.com/v1/boxes?embed=images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<API-Key>"
      Api-Secret:
      - "<API-Secret>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"41b0d7b196ebccd57b151f244edf665e"'
    body:
      encoding: UTF-8
      string: '[{"id":217,"name":"5kg Box","description":"Our delicious brekky box
        is chocked full of tasty treats for the weekend! <a href=\"http://www.johnsfarm.com\"
        target=\"_blank\">From John''s farm</a>\r\n\r\nIncluded:\r\nBacon, English
        Muffins, Organic Free Range Eggs x6, Orange Juice, Milk & Coffee.","extras_limit":-1,"exclusions_limit":3,"dislikes":true,"substitutions_limit":2,"likes":true,"customizable":true,"extras_allowed":true,"extras_unlimited":true,"exclusions_unlimited":false,"substitutions_unlimited":false,"price":"30.00","updated_at":1466419390,"cache_key":"61a75c10ce6428d8f51cf7e40ee72738888e3f7b4c8d5cd588a70a61e92ad4b5","images":{"thumb":"//my.buckybox.com/system/uploads/box/box_image/217/thumb_breakfast-box.jpg","small_thumb":"//my.buckybox.com/system/uploads/box/box_image/217/small_thumb_breakfast-box.jpg","tiny_thumb":"//my.buckybox.com/system/uploads/box/box_image/217/tiny_thumb_breakfast-box.jpg","webstore":"//my.buckybox.com/system/uploads/box/box_image/217/webstore_breakfast-box.jpg"}},{"id":98,"name":"Cheap
        Box","description":"A box of seasonal veges for 4-5 adults, for a week","extras_limit":0,"exclusions_limit":0,"dislikes":false,"substitutions_limit":0,"likes":false,"customizable":false,"extras_allowed":false,"extras_unlimited":false,"exclusions_unlimited":true,"substitutions_unlimited":true,"price":"0.01","updated_at":1432207567,"cache_key":"e729343943fc8221939b2493e0c36b0c9b2e47fcfd[...]
