---
http_interactions:
- request:
    method: post
    uri: https://api.buckybox.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"8859","box_id":"217","start_date":"2016-08-09","week_days":[2],"frequency":"single","payment_method":"cash_on_delivery"}'
    headers:
      Api-Key:
      - "<API-Key>"
      Api-Secret:
      - "<API-Secret>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.buckybox.com/v1/orders/73174
      Etag:
      - '"fd853c596a992292567e86ce83726588"'
    body:
      encoding: UTF-8
      string: '{"id":73174,"box_id":217,"extras_one_off":null,"extras":null,"customer_id":8859,"frequency":"single","week_days":[2],"start_date":"2016-08-09","exclusions":[],"substitutions":[]}'
  recorded_at: Thu, 11 Aug 2016 11:17:17 GMT
recorded_with: VCR 3.0.3
