---
http_interactions:
- request:
    method: get
    uri: https://api.buckybox.com/v1/customers/8859
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<API-Key>"
      Api-Secret:
      - "<API-Secret>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c5a90bcbc9b7c787061a869fa26a0566"'
    body:
      encoding: UTF-8
      string: '{"id":8859,"first_name":"Joe","last_name":"Man","name":"Joe Man","email":"randomman@buckybox.com","delivery_service_id":492,"halted?":false,"discount?":false,"discount":0.0,"number":"0437","account_balance":"-153.40","webstore_id":"fantastic-vege-people","webstore_name":"Fantastic
        Organic Demo"}'
  recorded_at: Thu, 11 Aug 2016 11:17:12 GMT
recorded_with: VCR 3.0.3
