---
http_interactions:
- request:
    method: get
    uri: https://api.buckybox.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<API-Key>"
      Api-Secret:
      - "<API-Secret>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c7629f19a7f202c452bcb56a91d6cf38"'
    body:
      encoding: UTF-8
      string: '[{"id":8439,"first_name":"Peter","last_name":"Bruce","name":"Peter
        Bruce","email":"pete@buckybox.com","delivery_service_id":492,"halted?":false,"discount?":true,"discount":0.1,"number":"0429","account_balance":"-127.20","webstore_id":"fantastic-vege-people","webstore_name":"Fantastic
        Organic Demo"},{"id":21154,"first_name":"Joe","last_name":null,"name":"Joe","email":"joe@example.net","delivery_service_id":91,"halted?":false,"discount?":false,"discount":0.0,"number":"0528","account_balance":"0.00","webstore_id":"fantastic-vege-people","webstore_name":"Fantastic
        Organic Demo"}]'
  recorded_at: Thu, 11 Aug 2016 11:17:12 GMT
recorded_with: VCR 3.0.3
