---
http_interactions:
- request:
    method: get
    uri: https://api.buckybox.com/v1/delivery_services/91
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<API-Key>"
      Api-Secret:
      - "<API-Secret>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"29f029d7c4388719ac8fdd17a6f4c836"'
    body:
      encoding: UTF-8
      string: '{"id":91,"name":"Courier (All Regions)","instructions":"Choose this Route for all regions outside of X, X and X\r\n\r\nWe delivery at 10:00 - 14:00.\r\nIf you''re not home, we will leave the box out of direct sunlight.","name_days_and_fee":"Courier (All Regions) - Mon, Tue, Wed, Thu, Fri - £5.00","pickup_point":false,"start_dates":[["Mon - Aug 15, 2016","2016-08-15",{"data-weekday":"mon"}],["Tue - Aug 16, 2016","2016-08-16",{"data-weekday":"tue"}],["Wed - Aug 17, 2016","2016-08-17",{"data-weekday":"wed"}],["Thu - Aug 18, 2016","2016-08-18",{"data-weekday":"thu"}],["Fri - Aug 19, 2016","2016-08-19",{"data-weekday":"fri"}],["Mon - Aug 22, 2016","2016-08-22",{"data-weekday":"mon"}],["Tue - Aug 23, 2016","2016-08-23",{"data-weekday":"tue"}],["Wed - Aug 24, 2016","2016-08-24",{"data-weekday":"wed"}],["Thu - Aug 25, 2016","2016-08-25",{"data-weekday":"thu"}],["Fri - Aug 26, 2016[...]
