---
http_interactions:
- request:
    method: get
    uri: https://api.buckybox.com/v1/webstore
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<API-Key>"
      Api-Secret:
      - "<API-Secret>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a5fe3a149c12381fff3c8266e8e9b532"'
    body:
      encoding: UTF-8
      string: '{"name":"Fantastic Organic Demo","locale":"en","currency":"GBP","time_zone":"London","city":"London","sidebar_description":"The
        Fantastic Vege People are a mythic being from Bucky Box Land.\r\n\r\nThey''re
        an example of how easy it is to operate local food distribution enterprises.  \r\n\r\nHere''s
        to catalysing a local food revolution!\r\nOur boxes are Nom Nom Nom.\r\n\r\nYou
        can customise any information in these fields from within the admin console
        in the Settings Page.\r\n\r\n<a href=\"https://store.buckybox.com/\" target=\"_blank\">Bucky
        Box Global Directory</a>","facebook_url":"www.facebook.com/buckybox","phone":"","email":"demo@buckybox.com","line_items":[{"created_at":"2013-10-18T00:36:20+01:00","distributor_id":18,"id":2497,"name":"Apple
        (Pacific Rose)","updated_at":"2013-10-18T00:36:20+01:00"},{"created_at":"2012-08-27T05:20:08+01:00","distributor_id":18,"id":240,"name":"Apple
        (Red)","updated_at":"2012-08-27T05:20:08+01:00"},{"created_at":"2012-08-27T05:20:08+01:00","distributor_id":18,"id":237,"name":"Banana
        (Fairtrade)","updated_at":"2012-08-27T05:20:08+01:00"},{"created_at":"2013-12-16T00:33:00+00:00","distributor_id":18,"id":4036,"name":"Basi2","updated_at":"2013-12-16T00:33:00+00:00"},{"created_at":"2012-08-27T05:20:09+01:00","distribu[...]
